body{
padding:16px;
font-family: 'Open sans', sans-serif;
font-weight: 300;
}

p{
    font-size:20px;
    line-height: 1.5;
}

footer{
    width: 95%;
    height: 40px;
    background-color:black;
    padding: 40px;
    color: white;
    margin: 0 auto;
    margin-top: 140px;
    text-align: center;
    font-family:  monospace,sans-serif;
}

h1{
    text-align:center;
    @include heading;
    color:black;
    text-decoration-line: underline;
    font-weight: 300;
    text-transform: uppercase;
    font-size:30px;

}
h2{
    display: block;
    margin: 0 auto;
    position: relative;
    letter-spacing: 6px;
    text-transform:uppercase;
    font-size:30px;
    text-align: center;
}

img{
    justify-content: center;
    text-align: center;
    padding-left:0px;
    margin-left: 175px
}

img:hover {
    filter: brightness(80%);
    transform: scale(1.1); }

