.fa-facebook {
    background: #3B5998;
    color: white;
}

/* Twitter */
.fa-twitter {
    background: #55ACEE;
    color: white;
}

// heading stylings

.main-heading{
    @include heading;
    top:20%;
}

.secondary-heading{
    @include heading;
}

.dev-name {
    display: block;
    margin: 0 auto;
    position: relative;
    width: 60%;
    padding: 40px 50px;
    color: #666666;
    height: 50%;
    letter-spacing: 9px;
    text-transform: uppercase;
    font-size: 30px;
    text-align: center; 
}
.navList{
    position: relative;
    display: block;
    padding: 10px 15px;

}

ul li{
    font-size:1.125em;
    list-style: none;
    display:inline-block;
}


.soc-media-ul{
padding-right:50px;
}