.fa-facebook {
    background: #3B5998;
    color: white;
}

/* Twitter */
.fa-twitter {
    background: #55ACEE;
    color: white;
}

// heading stylings

.main-heading{
    @include heading;
    top:20%;
}

.secondary-heading{
    @include heading;
}

.navList{
    position: relative;
    display: block;
    padding: 10px 15px;

}

ul li{
    font-size:1.125em;
    list-style: none;
    display:inline-block;
}


.soc-media-ul{
padding-right:50px;
}