// Styling of Navigation Bar
.navbar{
    position:sticky;
    top:0;
    width:100%;
    z-index:1;
    display:grid;
    grid-template-columns: 1fr 1fr;
}

.nav{
    height: 70px;
    top:0;
    bottom:0;
    z-index: 20;
    background-color:white;
}

.nav a{
    margin: 10px 0 0 10px;
    background-color: white;
    float:left;
    display: block;
    color:#666666;
    text-align: center;
    text-decoration: none;
    font-size:20px;
}


.services{
    display:grid;
    grid-template-columns: 1fr 1fr;
}

.sec-folio{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    height:700px;
    text-align: center;
}
.background{
    display:grid;
    grid-template-columns:1fr 1fr;
}

.container{
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
.about{
    text-align: center;
}